body{
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
.first{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
 h1{
    color: #17a2b8;
    font-size: 2.5rem;
}
 input{
    border-radius: .25rem;
    background-color: transparent !important;
}
input:focus{
    box-shadow: 0 0 0 0 transparent !important;
}
.first button a{
    color: #17a2b8;
}
.first button:hover a{
    color: black;
}
.first a{
    text-decoration: none;
}
.first a:hover{
    text-decoration: underline;
}


.second{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
 h1{
    color: #17a2b8;
    font-size: 2.5rem;
}
 input{
    border-radius: .25rem;
    background-color: transparent !important;
}

.second a{
    text-decoration: none;
}
.second a:hover{
    text-decoration: underline;
}

.navbar{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);

}
.body{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    margin-top: 200px;
}

.body h1{
    color: #17a2b8;
}
